.path-curvex {
    margin-top: 20px;
    margin-left: -250px;
    padding-right: 0;
}
path {
    fill: transparent;
}
text {
    text-align: center;
    fill: rgb(255, 0, 0);
}
#curve {
    max-width: 150px;
}
a {
    text-decoration: none;
}